BeautifulReport==0.1.2
certifi==2020.4.5.1
chardet==3.0.4
et-xmlfile==1.0.1
idna==2.9
jdcal==1.4.1
jsonpath==0.82
openpyxl==3.0.3
pyasn1==0.4.8
PyMySQL==0.9.3
requests==2.23.0
rsa==4.7
urllib3==1.25.8

